Library/PlayerDataCache/
Assets/YuGothB SDF.asset
Assets/TextAssetsYuigo.asset
Assets/NotoSansJP-Medium SDF.asset
Assets/Resources/Videos/背景アニメーションタイトル.mp4
Assets/Resources/Videos/UnityYoutube/灰Φ倶楽部.mp4
Assets/Resources/Videos/UnityYoutube/一龠.mp4
Assets/Resources/Videos/UnityYoutube/ビビビビ.mp4
Assets/Resources/Videos/UnityYoutube/セルフィ.mp4
Assets/Resources/Videos/UnityYoutube/エウタナシア.mp4
Assets/Resources/Videos/UnityYoutube/Who_.mp4
Assets/Resources/Videos/UnityYoutube/Major.mp4
Assets/Resources/Videos/UnityYoutube/GURU.mp4
Assets/Resources/Videos/UnityYoutube/GURU.mp4